node_modules/
dist/
env/
.env
.DS_Store
frontend/node_modules/
backend/node_modules/
/.idea

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
backend/.venv/

# Django media
backend/media/

# VSCode
.vscode/

# Logs
*.log

# coverage
htmlcov/
.coverage

# npm logs
npm-debug.log*

# Git LFS attributes
.gitattributes
